.btn-Custom0 {
    box-shadow: 0 2px 6px #40BD92;
    background-color: #40BD92;
    border-color: #40BD92;
    color: #f4f6f9;
}

.btn-Custom1 {
    box-shadow: 0 2px 6px #D19734;
    background-color: #D19734;
    border-color: #D19734;
    color: #f4f6f9;
}

.btn-Custom0:hover, .btn-Custom0:focus, .btn-Custom0:active, .btn-Custom0.active {
    background-color: #40BD92;
    border-color: #40BD92;
}

.btn-Custom1:hover, .btn-Custom1:focus, .btn-Custom1:active, .btn-Custom1.active {
    background-color: #D19734;
    border-color: #D19734;
}

.modalcenter {
    justify-content: center;
}

.paddingcls {
    padding-top: 10px;
}

.imgmax {
    width: 120px
}

.imgmin {
    width: 30px
}

.alignheading {
    display: inline-block;
    float: left;
}

.section {
    margin-left: -20px;
    width: 104%;
}


/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}

    /* The navigation menu links */
    .sidenav a {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
    }

        /* When you mouse over the navigation links, change their color */
        .sidenav a:hover {
            color: #f1f1f1;
        }

/* Style page content */
.main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

        .sidenav a {
            font-size: 18px;
        }
}

.isrequired {
    border-color: red;
    outline: none;
}
.myAlert-top {
    position: fixed;
    top: 20%;
    left: 2%;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}
.alert {
    display: none;
}
.circle {
    height: 50px;
    width: 50px;
    background-color: #555;
    border-radius: 50%;
}

body {
    background-color: #f9f9fa
}

.flex {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto
}

@media (max-width:991.98px) {
    .padding {
        padding: 1.5rem
    }
}

@media (max-width:767.98px) {
    .padding {
        padding: 1rem
    }
}

.padding {
    padding: 5rem
}

.card {
    background: #fff;
    border-width: 0;
    border-radius: .25rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .05);
    margin-bottom: 1.5rem
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(19, 24, 44, .125);
    border-radius: .25rem
}

.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(19, 24, 44, .03);
    border-bottom: 1px solid rgba(19, 24, 44, .125)
}

    .card-header:first-child {
        border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0
    }

card-footer,
.card-header {
    background-color: transparent;
    border-color: rgba(160, 175, 185, .15);
    background-clip: padding-box
}